<footer id="contacts">
  <div class="footer-container container">
    <div class="img-logo">
      <img loading="lazy"
        src="./images/mobile/footer/logo-footer-mobile.webp"
        srcset="
          ./images/desktop/footer/logo-footer-desktop.webp    349w,
          ./images/tablet/footer/logo-footer-tablet.webp      345w,
          ./images/mobile/footer/logo-footer-mobile.webp      330w,
          ./images/desktop/footer/logo-footer-desktop@2x.webp 698w,
          ./images/tablet/footer/logo-footer-tablet@2x.webp   690w,
          ./images/mobile/footer/logo-footer-mobile@2x.webp   660w
        "
        sizes="(min-width: 1280px) 349px,
              (min-width: 768px) 345px,
              (min-width: 375px) 330px"
        alt="happy-woman-holding-tropical-fruits"
        class="img-footer"
      />
      <div class="footer-logo logo">
        <a class="footer-logo-link logo-link" href="../index.html"
          ><svg class="logo-icon" width="16" height="16">
            <use href="./images/sprite-fruts.svg#icon-cub_menu"></use>
          </svg>
          fresh harvest box</a
        >
      </div>
    </div>
    <ul class="footer-nav">
      <li class="footer-nav-item">
        <a href="#how-it-works" class="nav-link">How It Works</a>
      </li>
      <li class="footer-nav-item">
        <a href="#fruits" class="nav-link">Fruits</a>
      </li>
      <li class="footer-nav-item">
        <a href="#contacts" class="nav-link">Contacts</a>
      </li>
    </ul>
    <div class="social-addres">
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="facebook"
            rel="noopener noreferrer"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./images/sprite-fruts.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            aria-label="instagram"
            rel="noopener noreferrer"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./images/sprite-fruts.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            aria-label="youtube"
            rel="noopener noreferrer"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./images/sprite-fruts.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="addres">
        <ul class="addres-list">
          <li class="addres-item">
            <a href="tel:+380684429426" class="addres-item-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="addres-item">
            <a
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/"
              target="_blank"
              class="addres-item-link"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
