<footer>
  <dvi class="footer-container">
    <div class="img-logo">
      <img
        src="../images/mobile/footer/logo-footer-mobile.webp"
        srcset="
          ../images/mobile/footer/logo-footer-mobile.webp    1x,
          ../images/mobile/footer/logo-footer-mobile@2x.webp 2x
        "
        alt="happy-woman-holding-tropical-fruits"
        class="img-footer"
      />
      <div class="logo">
        <a class="logo-link" href=""
          ><svg class="logo-icon" width="16" height="16">
            <use href="../images/sprite-fruts.svg#icon-cub_menu"></use>
          </svg>
          <span class="logo-title">fresh harvest box</span></a
        >
      </div>
    </div>
    <ul class="footer-nav">
      <li class="footer-nav-item">
        <a href="#" class="nav-link">How It Works</a>
      </li>
      <li class="footer-nav-item"><a href="#" class="nav-link">Fruits</a></li>
      <li class="footer-nav-item"><a href="#" class="nav-link">Contacts</a></li>
    </ul>
    <div class="social-addres">
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="../images/sprite-fruts.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="../images/sprite-fruts.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="../images/sprite-fruts.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="addres">
        <li class="addres-item">
          <a href="tel:+380684429426" class="phone-item-link"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="addres-item">
          <a
            href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/"
            target="_blank"
            class="addres-item-link"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </div>
  </dvi>
</footer>
