<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav-block">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#how-it-works" class="nav-link">How It Works</a>
          </li>
          <li class="nav-item">
            <a href="#fruits" class="nav-link">Fruits</a>
          </li>
          <li class="nav-item">
            <a href="#contacts" class="nav-link">Contacts</a>
          </li>
        </ul>
      </div>

      <div class="logo">
        <a class="logo-link" href=""
          ><svg class="logo-icon" width="16" height="16">
            <use href="../images/sprite-fruts.svg#icon-cub_menu"></use>
          </svg>
          <span class="logo-title">fresh harvest box</span></a
        >
      </div>

      <div class="menu">
        <button class="burger js-open-menu" type="button">
          <svg class="burger-icon" width="24" height="24">
            <use href="../images/sprite-fruts.svg#icon-burger_menu"></use>
          </svg>
        </button>
      </div>

      <div class="basket">
        <button type="button" class="basket-button">
          <svg class="basket-icon" width="24" height="24">
            <use href="../images/sprite-fruts.svg#icon-korzuna"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>

<!-- =====  MOBILE-MENU ===== -->
<div class="mobile-menu js-menu-container">
  <button class="close-menu js-close-menu" type="button">
    <svg class="close-icon" width="24" height="24">
      <use href="../images/sprite-fruts.svg#icon-icon_close"></use>
    </svg>
  </button>

  <div class="menu-open">
    <ul class="menu-list">
      <li class="menu-item">
        <a class="menu-link" href="#how-it-works">How It Works</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#fruits">Fruits</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#contacts">Contacts</a>
      </li>
      <li class="menu-item">
        <button type="button" class="menu-basket-button">
          <svg class="menu-basket-icon" width="24" height="24">
            <use href="../images/sprite-fruts.svg#icon-korzuna"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
