<section class="hero">
  <div class="container">
    <div class="hero-box-title">
      <h1 class="hero-title">
        fresh harvest box<br />is your one-stop place for a delicious fruit
        basket
      </h1>
      <img
        class="hero-strawberry"
        src="./img/hero-strawberry.png"
        width="56"
        height="56"
        alt="Strawberry"
      />
      <img
        class="hero-banana"
        src="./img/hero-banana.png"
        width="66"
        height="44"
        alt="Banana"
      />
    </div>
    <div class="hero-box-img">
      <img
        class="hero-orange"
        src="./img/hero-orange.jpg"
        width="311"
        height="484"
        alt="The girl holds an orange in her hand"
      />
      <img
        class="hero-orange-bottom"
        src="./img/elements.png"
        width="335"
        height="509"
        alt=""
      />
      <div class="hero-box-shop">
        <a class="hero-link" rel="noopener, noreferrer" href="#fruits"
          >shop<br />now
        </a>
      </div>
    </div>
  </div>
</section>
