<section class="hero">
  <div class="container">
    <div class="hero-wrapper animate__animated animate__fadeInDownBig">
      <div class="hero-box-title">
        <h1 class="hero-title">
          fresh harvest box<br />is your one-stop place for a delicious fruit
          basket
        </h1>
        <img
          class="hero-strawberry"
          srcset="
            ../images/mobile/hero/strawbery-hero-mobile.webp      64w,
            ../images/mobile/hero/strawbery-hero-mobile@2x.webp  128w,
            ../images/tablet/hero/strawberry-hero-tablet.webp    124w,
            ../images/tablet/hero/strawberry-hero-tablet@2x.webp 248w,
            ../images/desktop/hero/strawberry-hero.webp          136w,
            ../images/desktop/hero/strawberry-hero@2x.webp       272w
          "
          sizes="(min-width: 1280px) 136px, (min-width: 768px) 124px, 64px"
          src="../images/mobile/hero/strawberry-hero-mobile.webp"
          alt="Strawberry"
        />
        <img
          class="hero-banana"
          srcset="
            ../images/mobile/hero/banan-hero-mobile.webp     86w,
            ../images/mobile/hero/banan-hero-mobile@2x.webp 172w,
            ../images/tablet/hero/banan-hero-tablet.webp    170w,
            ../images/tablet/hero/banan-hero-tablet@2x.webp 340w,
            ../images/desktop/hero/banan-hero.webp          229w,
            ../images/desktop/hero/banan-hero@2x.webp       458w
          "
          sizes="(min-width: 1280px) 229px, (min-width: 768px) 170px, 86px"
          src="../images/mobile/hero/banan-hero-mobile.webp"
          alt="Banana"
        />
      </div>
      <div class="hero-box-img">
        <img
          class="hero-orange"
          srcset="
            ../images/mobile/hero/hero-mobile.webp    311w,
            ../images/mobile/hero/hero-mobile@2x.webp 622w,
            ../images/tablet/hero/hero-tablet.webp    452w,
            ../images/tablet/hero/hero-tablet@2x.webp 904w
          "
          sizes="(min-width: 768px) 452px, 311px"
          src="../images/mobile/hero/hero-mobile.webp"
          alt="The girl holds an orange in her hand"
        />
        <img
          class="hero-orange-bottom"
          srcset="
            ../images/mobile/hero/elements-m.webp    335w,
            ../images/mobile/hero/elements-m@2x.webp 670w,
            ../images/tablet/hero/elements-t.webp    486w,
            ../images/tablet/hero/elements-t@2x.webp 972w
          "
          sizes="(min-width: 768px) 486px, 335px"
          src="../images/mobile/hero/elements-m.webp"
          alt=""
        />
        <div class="hero-box-shop">
          <a class="hero-link" rel="noopener, noreferrer" href="#fruits"
            >shop<br />now
          </a>
        </div>
      </div>
    </div>
    <div class="test-wrapper">
      <div class="hero-watermelon">
        <p class="hero-watermelon-desc">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality fruits available. Whether you are looking for a healthy snack
          or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>
        <div class="hero-watermelon-box">
          <p class="box-title">Fruit</p>
          <img
            class="hero-watermelon-box-img"
            src="../images/mobile/hero/watermelon-hero-mob.webp"
            alt="watermelon"
            srcset="
              ../images/mobile/hero/watermelon-hero-mob.webp    1x,
              ../images/mobile/hero/watermelon-hero-mob@2x.webp 2x
            "
          />
          <p class="watermelon-desc">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>
      <div class="hero-strawberry-btn">
        <ul class="hashtags-list">
          <li class="hashtags-list-item">
            <h3 class="hashtags-text">#organic</h3>
          </li>
          <li class="hashtags-list-item">
            <h3 class="hashtags-text">#products</h3>
          </li>
          <li class="hashtags-list-item">
            <h3 class="hashtags-text">#basket</h3>
          </li>
          <li class="hashtags-list-item">
            <h3 class="hashtags-text">#fruits</h3>
          </li>
        </ul>
        <div class="hero-strawberry-box">
          <p class="box-title">Fruit</p>
          <img
            class="hero-strawberry-box-img"
            src="../images/mobile/hero/strawberry-basket-mob.webp"
            alt="strawberry"
            srcset="
              ../images/mobile/hero/strawberry-basket-mob.webp    1x,
              ../images/mobile/hero/strawberry-basket-mob@2x.webp 2x
            "
          />
          <p class="strawberry-desc">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
