<section class="hero">
  <div class="container">
    <div class="hero-box-title">
      <h1 class="hero-title">
        fresh harvest box<br />is your one-stop place for a delicious fruit
        basket
      </h1>
      <img
        class="hero-strawberry"
        src="./img/hero-strawberry.png"
        width="56"
        height="56"
        alt="Strawberry"
      />
      <img
        class="hero-banana"
        src="./img/hero-banana.png"
        width="66"
        height="44"
        alt="Banana"
      />
    </div>
    <div class="hero-box-img">
      <img
        class="hero-orange"
        src="./img/hero-orange.jpg"
        width="311"
        height="484"
        alt="The girl holds an orange in her hand"
      />
      <img
        class="hero-orange-bottom"
        src="./img/elements.png"
        width="335"
        height="509"
        alt=""
      />
      <div class="hero-box-shop">
        <a class="hero-link" rel="noopener, noreferrer" href="#fruits"
          >shop<br />now
        </a>
      </div>
    </div>
    <div class="hero-watermelon">
      <p class="hero-watermelon-desc">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="hero-watermelon-box">
        <p class="box-title">Fruit</p>
        <img class="hero-box-img" src="#" alt="watermelon" />
        <p class="watermelon-desc">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="hero-strawberry">
      <ul class="hashtags-list">
        <li class="hashtags-list-item">
          <h3 class="hashtags-text">#organic</h3>
        </li>
        <li class="hashtags-list-item">
          <h3 class="hashtags-text">#products</h3>
        </li>
        <li class="hashtags-list-item">
          <h3 class="hashtags-text">#basket</h3>
        </li>
        <li class="hashtags-list-item">
          <h3 class="hashtags-text">#fruits</h3>
        </li>
      </ul>
      <div class="hero-strawberry-box">
        <p class="box-title">Fruit</p>
        <img class="hero-box-img" src="#" alt="strawberry" />
        <p class="strawberry-desc">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
  </div>
</section>
