<section class="freshbox">
  <div class="container freshbox-cont">
    <h2 class="freshbox-title">Fresh Harvest Box has got you covered</h2>
    <div class="freshbox-images">
      <img
        class="freshbox-picture"
        src="./images/mobile/fresh/melon-mobile.webp"
        alt="Melon"
        loading="lazy"
        srcset="
          ./images/mobile/fresh/melon-mobile.webp       335w,
          ./images/mobile/fresh/melon-mobile@2x.webp    670w,
          ./images/tablet/fresh/melon-tablet.webp       344w,
          ./images/tablet/fresh/melon-tablet@2x.webp    688w,
          ./images/desktop/fresh/melon-desktop.webp     792w,
          ./images/desktop/fresh/melon-desktop@2x.webp 1584w
        "
        sizes="(min-width: 1280px) 792px,
                (min-width: 768px) 344px,
                (min-width: 375px) 335px"
      />
      <img
        class="freshbox-picture none"
        src="./images/tablet/fresh/blueberry-tablet.webp"
        alt="Blueberry"
        loading="lazy"
        srcset="
          ./images/tablet/fresh/blueberry-tablet.webp      344w,
          ./images/tablet/fresh/blueberry-tablet@2x.webp   688w,
          ./images/desktop/fresh/blueberry-desktop.webp    400w,
          ./images/desktop/fresh/blueberry-desktop@2x.webp 800w
        "
        sizes="(min-width: 1280px) 400px,
              (min-width: 768px) 344px"
      />
    </div>

    <div class="freshbox-bottom">
      <p class="freshbox-text">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="freshbox-form">
        <label class="">
          <input
            class="freshbox-input"
            type="email"
            name="E-mail"
            placeholder="Enter email..."
            required
            minlength="3"
          />
          <button class="freshbox-btn-send" type="submit" data-modal-open>
            Send
          </button>
        </label>
      </form>
    </div>
  </div>
</section>

<div class="backdrop is-hidden none" data-modal>
  <div class="modal">
    <button class="modal-btn-close" type="button" data-modal-close>
      <svg width="28" height="28">
        <use href="./images/sprite-fruts.svg#icon-icon_close"></use>
      </svg>
    </button>
    <img
      class="modal-picture"
      src="./images/mobile/thank-juice-mobile.webp"
      alt="Raspberries"
      srcset="
        ./images/mobile/thank-juice-mobile.webp    207w,
        ./images/mobile/thank-juice-mobile@2x.webp 414w,
        ./images/desktop/thank-juice-desk.webp     278w,
        ./images/desktop/thank-juice-desk@2x.webp  556w
      "
      sizes="(min-width: 768px) 278px,
               (min-width: 375px) 207px"
    />

    <h2 class="modal-title">Thank you</h2>
    <p class="modal-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
