<section class="portfolio" id="fruits">
  <div class="container">
    <h2 class="section-title portfolio-sec-title">organic fruits</h2>
    <p class="portfolio-section-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="portfolio-list list">
      <li class="portfolio-item strawberry">
        <h4 class="portfolio-fruit-name">Strawberry</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/strawberry-org-desk.webp"
            alt="Strawberry"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/strawberry-org-desk.webp     1x,
              ./images/desktop/organic/strawberry-org-desk.@2x.webp 2x
            "
          />
        </div>

        <button class="price-btn" type="button">100 UAH / kg</button>
      </li>
      <li class="portfolio-item banana">
        <h4 class="portfolio-fruit-name">Banana</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/banan-org-desc.webp"
            alt="Banana"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/banan-org-desc.webp    1x,
              ./images/desktop/organic/banan-org-desc@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">80 UAH / kg</button>
      </li>
      <li class="portfolio-item watermelon">
        <h4 class="portfolio-fruit-name">Watermelon</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/watermelon-org-desk.webp"
            alt="Watermelon"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/watermelon-org-desk.webp    1x,
              ./images/desktop/organic/watermelon-org-desk@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">40 UAH / kg</button>
      </li>
      <li class="portfolio-item lime">
        <h4 class="portfolio-fruit-name">Lime</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/lime-org-desk.webp"
            alt="Lime"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/lime-org-desk.webp    1x,
              ./images/desktop/organic/lime-org-desk@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">60 UAH / kg</button>
      </li>
      <li class="portfolio-item apple">
        <h4 class="portfolio-fruit-name">Apple</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/apple-org-desk.webp"
            alt="Apple"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/apple-org-desk.webp    1x,
              ./images/desktop/organic/apple-org-desk@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">50 UAH / kg</button>
      </li>
      <li class="portfolio-item peach">
        <h4 class="portfolio-fruit-name">Peach</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/peach-org-desk.webp"
            alt="Peach"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/peach-org-desk.webp    1x,
              ./images/desktop/organic/peach-org-desk@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">80 UAH / kg</button>
      </li>
      <li class="portfolio-item plums">
        <h4 class="portfolio-fruit-name">Plums</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/plums-org-desk.webp"
            alt="Plums"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/plums-org-desk.webp    1x,
              ./images/desktop/organic/plums-org-desk@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">40 UAH / kg</button>
      </li>
      <li class="portfolio-item orange">
        <h4 class="portfolio-fruit-name">Orange</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/orange-org-tab.webp"
            alt="Orange"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/orange-org-tab.webp    1x,
              ./images/desktop/organic/orange-org-tab@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">60 UAH / kg</button>
      </li>
      <li class="portfolio-item kiwi">
        <h4 class="portfolio-fruit-name">Kiwi</h4>
        <p class="fruit-discr">Plant</p>
        <div class="img-wrap">
          <img
            class="fruit-img"
            src="./images/desktop/organic/kiwi-org-desk.webp"
            alt="Kiwi"
            width="295"
            height="251"
            srcset="
              ./images/desktop/organic/kiwi-org-desk.webp    1x,
              ./images/desktop/organic/kiwi-org-desk@2x.webp 2x
            "
          />
        </div>
        <button class="price-btn" type="button">90 UAH / kg</button>
      </li>
    </ul>
    <button data-modal-open-fruts class="portfolio-order-btn" type="button">
      <svg class="portfolio-order-icon" width="14" height="14">
        <use href="./images/sprite-fruts.svg#icon-strila-btn"></use>
      </svg>
      <span>Order</span>
    </button>
  </div>
</section>

<div class="backdrop-fruits is-hidden-fruits" data-modal-fruts>
  <div class="modal-fruits">
    <button
      class="modal-fruits-button vector-close"
      type="button"
      data-modal-close-fruts>
      <svg width="24" height="24" class="modal-close-btn-fruts">
        <use href="./images/sprite-fruts.svg#icon-icon_close"></use>
      </svg>
    </button>
    <h4>Your Order</h4>
    <ul class="modal-basket">
      <li class="modal-basket-item red">
        <div class="modal-basket-text">
          <h5>Strawberry Basket</h5>
          <p>Plant</p>
        </div>
        <img class='mod-mob-img' src='./images/mobile/order/modal-strawberry.webp'
             srcset='./images/mobile/order/modal-strawberry.webp 1x ,
./images/mobile/order/modal-strawberry@2x.webp 2x'

             alt='strawberry-basket'>
        <img class='mod-tab-img' src='./images/tablet/order/modal-strawberry-tab.webp'
             srcset='
 ./images/tablet/order/modal-strawberry-tab.webp 1x ,
./images/tablet/order/modal-strawberry-tab@2x.webp 2x'

             alt='strawberry-basket'>
        <label  class='modal-basket-checkbox-svg'>
          <input class='modal-basket-input' type='checkbox' name='apple-basket' id='strawberry-basket'  checked>
          <span class='modal-basket-checked'></span>
        </label>
      </li>
      <li class="modal-basket-item yellow">
        <div class="modal-basket-text">
          <h5>Apple Basket</h5>
          <p>Plant</p>
        </div>
        <img class='mod-mob-img' src='./images/mobile/order/modal-apples.webp'
             srcset='./images/mobile/order/modal-apples.webp 1x,
./images/mobile/order/modal-apples@2x.webp 2x'
             alt='apple-basket'>
        <img class='mod-tab-img' src='./images/tablet/order/modal-apples-tab.webp'
             srcset='
./images/tablet/order/modal-apples-tab.webp 1x,
./images/tablet/order/modal-apples-tab@2x.webp 2x'
             alt='apple-basket'>
        <label  class='modal-basket-checkbox-svg'>
          <input class='modal-basket-input' type='checkbox' name='apple-basket' id='apple-basket'>
          <span class='modal-basket-checked'></span>
        </label>
      </li>
      <li class="modal-basket-item green">
        <div class="modal-basket-text">
          <h5>Fruits Basket</h5>
          <p>Plant</p>
        </div>

        <img class='mod-mob-img' src='./images/mobile/order/modal-fruits.webp'
             srcset='./images/mobile/order/modal-fruits.webp 1x,
./images/mobile/order/modal-fruits@2x.webp 2x'
             alt='fruits-basket'>
        <img class='mod-tab-img' src='./images/tablet/order/modal-fruits-tab.webp'
             srcset='
./images/tablet/order/modal-fruits-tab.webp 1x,
./images/tablet/order/modal-fruits-tab@2x.webp 2x'
             alt='fruits-basket'>
        <label  class='modal-basket-checkbox-svg'>
          <input class='modal-basket-input' type='checkbox' name='apple-basket' id='fruits-basket'>
          <span class='modal-basket-checked'></span>

        </label>
      </li>
    </ul>
    <form class="modal-fruits-form" autocomplete="on">
      <input
        class="modal-fruits-input"
        type="text"
        name="name"
        id="name"
        required
        placeholder="Enter full name..."
        pattern="[A-Za-z]{2,}"
        aria-label="Enter full name"
        size="2"
      />
      <input
        class="modal-fruits-input"
        type="email"
        name="email"
        id="email"
        required
        placeholder="Enter email..."
      />
      <input
        class="modal-fruits-input"
        type="text"
        name="email"
        id="card"
        required
        placeholder="Enter card.."
        pattern="[0-9]{16}"
      />
      <textarea
        class="modal-fruits-textarea"
        name="comment"
        id="comment"
        placeholder="Enter comments..."
        rows="5"
      ></textarea>
      <button class="modal-fruits-button-submit" type="submit">Submit</button>
    </form>
  </div>
</div>
