<section class="freshbox">
  <div class="container">
    <h2 class="freshbox-title">Fresh Harvest Box has got you covered</h2>
    <div class="freshbox-images">
      <picture class="freshbox-picture wide">
        <source srcset="" media="(min-width:375px)" sizes="" />
        <source srcset="" media="(min-width:768px)" sizes="" />
        <source srcset="" media="min-width:1280px" sizes="" />
        <img class="" src="" alt="Melon" width="335" height="400" />
      </picture>
      <picture class="freshbox-picture none">
        <source srcset="" media="(min-width:375px)" sizes="" />
        <source srcset="" media="(min-width:768px)" sizes="" />
        <source srcset="" media="min-width:1280px" sizes="" />
        <img class="" src="" alt="Blueberries" width="335" height="400" />
      </picture>
    </div>
    <div class="freshbox-bottom">
      <p class="freshbox-text">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="freshbox-form">
        <label class="" for="freshbox-email">
          <input
            class="freshbox-input"
            type="email"
            name="E-mail"
            id="freshbox-email"
            required
          />
        </label>
        <button class="freshbox-btn-send" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>

<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal-btn-close" type="button">X</button>
    <picture class="modal-picture">
      <source srcset="" media="(min-width:375px)" sizes="" />
      <source srcset="" media="(min-width:768px)" sizes="" />
      <source
        srcset=""
        media="min-width:1280px"
        sizes="(min-width: 1200px), width=207"
      />
      <img class="" src="" alt="Raspberries" width="335" />
    </picture>
    <h2 class="modal-title">Thank you</h2>
    <p class="modal-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you with
      the best possible experience!
    </p>
  </div>
</div>





<div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore esse
    
  </p>
</div>
