.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    max-height: 477px;
    column-gap: 171px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.img-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .img-logo {
    max-width: 349px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .img-logo {
    padding-bottom: 0;
  }
}

.footer-logo {
  margin: 0;
}
.footer-logo-link {
  padding: 0;
}
.footer-nav {
  display: flex;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--main-color);
}
.social-list {
  display: flex;
  gap: 20px;
}
.social-item {
  width: 40px;
  height: 40px;
  display: flex;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: #ffffff;
  transition: background-color var(--anim-transition);
}
.social-link:hover,
.social-link:focus {
  background-color: rgba(174, 19, 50, 0.1);
}
.social-icon {
  fill: currentColor;
  color: var(--main-color);
}
.social-addres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .social-addres {
    flex-direction: column;
    padding-top: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .social-addres {
    padding-top: 0;
    gap: 40px;
  }
}
.addres {
  font-style: inherit;
}
.addres-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .addres-list {
    gap: 20px;
  }
}
.addres-item {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .addres-item {
    text-align: start;
  }
}
.addres-item:last-child {
  max-width: 140px;
}
@media screen and (min-width: 768px) {
  .addres-item:last-child {
    max-width: 176px;
  }
}
.addres-item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .addres-item-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
