.header{
    background-color: var(--primary-color);
}

.position{
    display: flex;
    align-items: center;
}

.nav-list{
    display: none;
}

.logo-link{
    padding: 16px 0;
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo-link svg {
    fill: var(--main-color);
    margin-right: 8px;
    
}

.burger{
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.burger-icon{
    fill:var(--main-color);
}

.basket-button{
    display: none;
}

/* MENU */

.mobile-menu {
    z-index: 1;
    position: fixed;
    background-color: var(--main-color);
    top:0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform var(--anim-transition);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.mobile-menu.is-open {
    transform: translateX(0);
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
}

.close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    font: inherit;
    stroke: var(--main-color);
}


.menu-header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 124px;
}

.menu-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--primary-color);
}

.menu-basket-icon{
    fill: var(--primary-color);
}

.menu-basket-button{
    padding: 0;
    background-color: transparent;
    border: none;
}

@media screen and (min-width:768px) {
        .position {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

.nav{
    display: flex;
    justify-content: space-between;
}

 .nav-list{
    padding: 16px 0;
    display: flex;
    align-items: center;
    text-align: center;
 }

 .nav-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var(--main-color);
 }
 
 .nav-item:not(:last-child){
    margin-right: 16px;
 }

.burger{
    display: none;
}

.basket-button{
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
}

.basket-icon{
    fill: var(--main-color);
}

}

@media screen and (min-width:1280px) {

.nav-item:not(:last-child) {
        margin-right: 20px;
    }

}