
.header {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
}

.nav-block {
    display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 16px 0;
}

.logo-link{
display: flex;
    align-items: center;
    text-align: center;
}

.logo-icon{
    fill: var(--main-color);
}

.logo-title{
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-left: 8px;
}

.menu{
margin-top: 13px;
}

.basket{
    display: none;
}

.burger{
    padding: 0;
    border: none;
    background-color: transparent;
    font: inherit;
}

.burger-icon{
    fill:var(--main-color);
}


/* MENU */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    padding: 80px 40px;
    transform: translateX(100%);
    transition: transform var(--anim-transition);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.mobile-menu.is-open {
    transform: translateX(0);
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
}


@media screen and (min-width:768px) {
 
.nav-block{
    display: block;
 } 

 .nav-list{
    margin: 16px 0;
    display: flex;
    align-items: center;
    text-align: center;
 }

 .nav-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--main-color);
 }
 
 .nav-item:not(:last-child){
    margin-right: 16px;
 }

.menu{
    display: none;
}

.basket{
    display: block;
    margin-top: 13px;
}

.basket-button{
    padding: 0;
    border: none;
    background-color: transparent;
    font: inherit;
}

.basket-icon{
    fill: var(--main-color);
}

}

@media screen and (min-width:1280px) {

.nav-item:not(:last-child) {
        margin-right: 20px;
    }

}