.hero {
  padding-top: 56px;
  background-color: var(--main-color);
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 64px;
  }
}
.hero-wrapper {
  position: relative;
  /* Висота від початку заголовка
    до низу круга кнопки shop nov */
  height: 584px;
  margin-bottom: 44px;
  /* outline: 1px solid aqua; */
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    /* height: 795px;
        по замірах з макету*/
    height: 800px;
  }
}
.hero-box-title {
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero-box-title {
    width: 704px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1280px) {
  .hero-box-title {
    width: 898px;
  }
}
.hero-title {
  position: relative;
  z-index: 5;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;

  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 50px;
    line-height: 1.08;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
    line-height: 1;
  }
}
.hero-strawberry {
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(2px);
}
.hero-banana {
  position: absolute;
  left: 0;
  bottom: 0;
  filter: blur(2px);
  transform: rotate(20deg);
}
@media screen and (min-width: 768px) {
  .hero-strawberry {
    top: -9px;
    right: 5px;
    filter: blur(4px);
  }
  .hero-banana {
    left: 6px;
    bottom: -32px;
    filter: blur(4px);
  }
}
@media screen and (min-width: 1280px) {
  .hero-strawberry {
    top: -9px;
    right: 5px;
  }
  .hero-banana {
    left: 30px;
    bottom: -68px;
  }
}

.hero-box-img {
  position: relative;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .hero-box-img {
    padding-top: 58px;
  }
}
.hero-orange {
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
}
.hero-orange-bottom {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero-orange-bottom {
    bottom: -19px;
  }
}
.hero-box-shop {
  position: absolute;
  left: 50%;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .hero-box-shop {
    width: 114px;
    height: 114px;
  }
}
.hero-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--main-color);

  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
  transition: color var(--anim-transition);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--button-color);
}
/* ======================================================= */
.hero-watermelon-desc {
  width: 279px;
  max-width: 100%;
  padding-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  text-align: start;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .hero-watermelon-desc {
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero-watermelon-desc {
    width: 222px;
  }
}
.hero-watermelon-box,
.hero-strawberry-box {
  position: relative;
  text-align: center;
  width: 249px;
  height: 387px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 500px;
  background: var(--button-color);
}
@media screen and (min-width: 768px) {
  .hero-watermelon-box {
    margin-right: 0;
  }
  .hero-strawberry-box {
    margin-right: 0;
  }
}

.hero-strawberry-box {
  background: var(--secondary-color);
}
.hero-strawberry-box .box-title {
  padding-bottom: 19px;
}
.box-title {
  padding-top: 28px;
  padding-bottom: 62px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--primary-color);
}
.hero-watermelon-box-img {
  margin: 0 auto;
}

.hero-strawberry-box-img {
  margin: 0 auto;
}
.watermelon-desc,
.strawberry-desc {
  width: 155px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-top: 2px;
  margin: 0 auto;
}
.strawberry-desc {
  padding-top: 17px;
}
/* hashtag-list */
.hero-strawberry-btn {
  padding-bottom: 80px;
}
.hashtags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding-top: 44px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .hashtags-list {
    justify-content: right;
    width: 270px;
  }
}
@media screen and (min-width: 1280px) {
  .hashtags-list {
    width: 270px;
  }
}
.hashtags-list-item {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 1000px;
}
@media screen and (max-width: 767px) {
  .hashtags-list-item {
    width: 132px;
  }
}
@media screen and (min-width: 768px) {
  .hashtags-list-item {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.hashtags-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .test-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .hero-strawberry-btn {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .test-wrapper {
    margin-top: -570px;
  }
  .hero-watermelon {
    margin-top: 75px;
  }
}
/* =================================================== */
.photo-wrapper::after {
  display: block;
  content: '';
  position: absolute;
  width: 239px;
  height: 38px;
  left: 5px;
  top: 228px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);
}
.second-photo-wrapper::after {
  display: block;
  content: '';
  position: absolute;
  width: 239px;
  height: 38px;
  left: 10px;
  top: 210px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);
}
