:root {
  --primary-color: #ffffff;
  --main-color: #ae1332;
  --background-modal: #e03f5e;
  --button-color: #a4cb66;
  --secondary-color: #f5ce13;
  --card-text-black: #000;
  --text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  --anim-transition: 250ms linear;
}
.container {
  max-width: 375px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--primary-color);
  letter-spacing: -0.04em;
}

h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
}

h2 {

  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
}

h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-shadow: var(--text-shadow);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 1.08;
  }

  h2 {
    font-size: 40px;
    line-height: 1.1;
  }

  h4 {
    font-size: 32px;
    line-height: 1.18;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 64px;
  }

  h5 {
    font-size: 24px;
    line-height: 1.16;
  }
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-bottom: 80px;
}

@media screen and(min-width:768px) {
  section {
    padding-bottom: 144px;
  }
}

@media screen and(min-width:1280px) {
  section {
    padding-bottom: 150px;
  }
}

body {
  font-family: 'DM Sans', sans-serif;
}
