/**  |============================| base |============================*/
/* .list {
}
.section-title {  
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.description {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.section {
  background-color: #ae1332;
}
.container {
  padding: 20px;
  max-width: 375px;
  margin: 0 auto;
} */
/**  |============================| steps |============================*/

.steps-title {
  font-size: 28px;
  margin: 0 auto 14px;
}
.steps-description {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 44px;
}

.steps-list {
  margin-bottom: 44px;
}
.steps-item {
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 100%;
  height: 112px;
  padding: 20px;
  border-radius: 20px;
  background: var(--primary-color);
}
.steps-item:not(:last-child) {
  margin-bottom: 20px;
}
.steps-item-number {
  min-width: 136px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: var(--primary-color);
  border-radius: 200px;

  /* font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.04em; */
}

.steps-item:nth-child(1) .steps-item-number {
  background-color: var(--main-color);
}

.steps-item:nth-child(2) .steps-item-number {
  background-color: var(--button-color);
}

.steps-item:nth-child(3) .steps-item-number {
  background-color: var(--secondary-color);
}

.steps-item-description {
  color: var(--card-text-black);
}

@media only screen and (max-width: 374px) {
  .steps-item-description {
    font-size: calc((100vw - 320px) / (374 - 320) * (14 - 12) + 12px);
  }
}

.gif-wrapper {
  max-width: 335px;
  height: 476px;
  margin-bottom: 80px;
}

.steps-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .steps-title {
    display: block;
    width: 642px;
    font-size: 40px;
    line-height: 1.1em;
  }
  .steps-description {
    display: block;
    width: 509px;
    margin: 0 auto 44px;
  }
  .steps-item {
    max-width: 389px;
    height: 128px;
    padding: 40px 20px;
    margin: 0 auto;
  }
  .steps-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .steps-list {
    margin-bottom: 80px;
  }
  .gif-wrapper {
    max-width: 704px;
    height: 476px;
    margin-bottom: 144x;
  }
}
