/**  |============================| base |============================*/
.list {
}
.section-title {
  margin-bottom: 14px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1em;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.description {
  margin-bottom: 44px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.section {
  padding: 20px;
  background-color: #ae1332;
}
.container {
  max-width: 335px;
  margin: 0 auto;
}
/**  |============================| steps |============================*/

.steps {
  padding-top: 40px;
}
.steps-title {
}
.steps-description {
  text-align: center;
  color: #ffffff;
}

.steps-list {
  margin-bottom: 44px;
}
.steps-item {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  min-height: 112px;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
}
.steps-item:not(:last-child) {
  margin-bottom: 20px;
}
.steps-item-number {
  min-width: 136px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: #ffffff;
  border-radius: 200px;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.04em;
}

.steps-item:nth-child(1) .steps-item-number {
  background-color: #ae1332;
}

.steps-item:nth-child(2) .steps-item-number {
  background-color: #a1c864;
}

.steps-item:nth-child(3) .steps-item-number {
  background-color: #f5ce13;
}

.steps-item-description {
  color: #000000;
}
.steps-image {
}
