.portfolio-sec-title {
  margin-bottom: 14px;
}
.portfolio-section-text {
  display: block;
  text-align: center;
  max-width: 547px;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 44px;
}
.portfolio-item {
  width: 100%;
  position: relative;
  /* max-width: 335px; */
  padding-top: 64px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-radius: 20px;
}

.fruit-img {
  /* position: relative; */
}

.img-wrap::after {
  display: block;
  content: '';
  position: absolute;
  width: 195px;
  height: 38px;
  left: 70px;
  top: 354px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);
}
@media screen and (min-width: 768px) {
  .img-wrap::after {
    left: 75px;
    top: 374px;
  }
}

@media screen and (min-width: 1280px) {
  .img-wrap::after {
    left: 90px;
    top: 374px;
  }
}

.strawberry {
  background-color: #f8766b;
}
.banana {
  background-color: #edd251;
}
.watermelon {
  background-color: #9dc262;
}
.lime {
  background-color: #bfd663;
}
.apple {
  background-color: #e93f29;
}
.peach {
  background-color: #db4f4b;
}
.plums {
  background-color: #9b5366;
}
.orange {
  background-color: #f47f4c;
}
.kiwi {
  background-color: #98b37e;
}

@media screen and (max-width: 767px) {
  .plums {
    display: none;
  }
  .orange {
    display: none;
  }
  .kiwi {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .kiwi {
    display: none;
  }
}

.portfolio-fruit-name {

  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-bottom: 8px;
}
.fruit-discr {

  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 4px;
}
.price-btn {
  background: #ffffff;
  border-radius: 200px;
  color: #ae1332;
  width: 121px;
  border: none;
  padding: 12px;
  height: 46px;
  margin-top: 6px;
}
.portfolio-order-btn {
  display: block;
  background-color: var(--button-color);
  border: none;
  border-radius: 50%;
  color: #ffffff;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
  padding: 26px 8px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.portfolio-order-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 16px) / 2);
  }
  .price-btn{
    width: 136px;
    height: 48px;
    }
  .portfolio-order-btn{
    padding: 38px 18px;
    }
}

@media screen and (min-width: 1280px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

button {
  cursor: pointer;
  }

.list {
  list-style: none;
  }

.link {
  text-decoration: none;
  }

.contacts {
  font-style: normal;
  }

.hidden-fruits {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

/*modal window*/
.modal-close-btn-fruts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill:#AE1332;
  stroke: #AE1332;
  transition: fill 250ms var(--anim-transition)
}

.is-hidden-fruits {
  visibility     : hidden;
  opacity        : 0;
  pointer-events : none;
  }
.backdrop-fruits {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  align-items: center;
  z-index: 999;
  overflow: auto;
  opacity: 1;
  }

.modal-fruits {
  position         : relative;
  top              : 70%;
  left             : 50%;
  transform        : translateX(-50%) translateY(-50%);
  max-width        : 335px;
  background-color : #ffffff;
  border-radius    : 20px;
  padding: 20px;
  }

.modal-fruits h4{
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 40px;
  }
.modal-basket-text h5{
  margin-bottom: 2px;
  }
.red{
  background-color: #F8766B;
  }
.yellow{
  background-color: #EDD251;
  }
.green{
  background-color: #9DC262;
  }
.modal-basket{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
  }
.modal-basket-item{
  position: relative;
  border-radius: 20px;
  display: flex;
  padding: 14px 32px 8px 20px;
  justify-content: space-between;
  width: 100%;
  }
.modal-basket-checkbox-svg{
  position: absolute;
  top: 14px;
  right: 14px;
  display: block;
  width: 16px;
  height: 16px;
  }
.modal-basket-item input{
  display            : block;
  -moz-appearance    : none;
  -webkit-appearance : none;
  }

.modal-basket-checked {
  background-image: url("../images/desktop/uncheck.svg");
  display          : block;
  width            : 16px;
  height           : 16px;
  transition       : .5s;
  }

.modal-basket-input:checked + .modal-basket-checked {
  background-size     : contain;
  background-position : center;
  background-image    : url("../images/desktop/check.svg");
  }

.modal-fruits-form{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  }

.modal-fruits-input,
.modal-fruits-textarea{
  outline: none;
  width: 100%;
  border-radius: 100px;
  padding: 24px 14px;
  border: 1px solid rgba(0, 0, 0, .3);
  transition: box-shadow var(--anim-transition);
  }

.modal-fruits-input:focus,
.modal-fruits-input:hover,
.modal-fruits-textarea:focus,
.modal-fruits-textarea:hover{
  background-color: rgba(174, 19, 50, 0.1);
  box-shadow   : 0 3px 1px rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
  }


input:invalid:not(:placeholder-shown) {
  outline: 1px solid red;
}


.modal-fruits-input::placeholder,
.modal-fruits-textarea::placeholder{
  opacity: 50%;
  }

.modal-fruits-textarea{
  border-radius: 20px;
  }
.modal-fruits-button {
  background-color: transparent;
  border: none;
  height           : 24px;
  position         : absolute;
  right            : 20px;
  top              : 20px;
  transition       : transform 800ms 200ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor           : pointer;
  }
.modal-fruits-button:hover{
  transform: rotate(180deg);
  }

.modal-fruits-button-submit{
  padding: 12px 24px;
  color: var(--primary-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 100px;
  }
.modal-fruits-button-submit:hover,
.modal-fruits-button-submit:active{
  color: var(--button-color);
  background-color: var(--primary-color);
  border: 1px solid var(--button-color);
  }


@media screen and (min-width: 768px){
  .backdrop-fruits{
    }
  .modal-fruits{
    top: 50%;
    padding: 40px;
    max-width: 704px;
    background-image: url("../images/tablet/order/ledy-order-tab.webp");
    background-repeat: no-repeat;
    background-position: right bottom;

    }
  .modal-basket{
    flex-wrap: nowrap;
    }
  .modal-basket-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 40px 14px 14px 14px;
    }
  .modal-basket-item img{
    margin: 0 auto;
    }
  .modal-fruits-form{
    max-width: 360px;
    }
  }