
/**  |============================| steps |============================*/
.steps-title {margin: 0 auto 14px;}

.steps-description {
  text-align: center;
  margin-bottom: 44px;
}

.steps-list {
  margin-bottom: 44px;
}
.steps-item {
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 100%;
  height: 112px;
  padding: 20px;
  border-radius: 20px;
  background: var(--primary-color);
}

.steps-item-number {
  min-width: 136px;
  height: 48px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
  line-height: 48px;
  color: var(--primary-color);
  border-radius: 200px;
}

.steps-item:nth-child(1) .steps-item-number {
  background-color: var(--main-color);
}

.steps-item:nth-child(2) .steps-item-number {
  background-color: var(--button-color);
}

.steps-item:nth-child(3) .steps-item-number {
  background-color: var(--secondary-color);
}

.steps-item-description {
  color: var(--card-text-black);
}

@media only screen and (max-width: 374px) {
  .steps-item-description {
    font-size: calc((100vw - 320px) / (374 - 320) * (14 - 12) + 12px);
  }
}

.gif-wrapper {
  max-width: 335px;
  height: 476px;
}

.steps-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  .steps-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .steps-title {
    display: block;
    width: 642px;
  }
  .steps-description {
    display: block;
    width: 509px;
    margin: 0 auto 44px;
  }
  .steps-item {
    max-width: 389px;
    height: 128px;
    padding: 40px 20px;
    margin: 0 auto;
  }
  .steps-list {
    margin-bottom: 80px;
  }
  .gif-wrapper {
    max-width: 704px;
    height: 476px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .steps-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .steps-list {
    display: flex;
    gap: 24px;
    margin-bottom: 81px;
  }
  .steps-item {
    width: 389px;
    padding: 40px 20px;
    margin: 0 auto;
  }
  .steps-item:not(:last-child) .steps-item-description {
    display: inline-block;
    width: 166px;
  }
  .gif-wrapper {
    max-width: 860px;
    height: 476px;
    margin: 0 auto 150px;
  }
}
