.freshbox {
  position: relative;

  padding-top: 133px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 375px; */
  /* margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; */

  /* width: 100%; */

  outline: 1px solid black;
}

.freshbox-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.freshbox-title {
  position: absolute;
  width: 335px;
  height: 96px;
  left: 20px;
  top: -53px;

  
  font-weight: 500;
  font-size: 32px;
  line-height: 1;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: blue;
  /* color: var(--primary-color); */
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.freshbox-picture {
  border-radius: 20px;

  outline: 1px solid blue;
}

.freshbox-picture.none {
  display: none;
}

.freshbox-bottom {
  display: none;
}




@media screen and (min-width: 768px) {
   
  .freshbox {
    padding-top: 223px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .freshbox-title {
    position: absolute;
    width: 648px;
    height: 108px;
    left: 60px;    
    top: -79px;

    font-size: 54px;
    line-height: 1;
  }
  
  .freshbox-images {
    display: flex;
    gap: 16px;
    margin-bottom: 80px;

    outline: 1px solid red;
  }

  .freshbox-picture.none {
    display: block;
  }

  .freshbox-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 492px;

    outline: 1px solid red;
  }

  .freshbox-text {
    display: flex;
    align-items: center;
    text-align: center;

    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.04em;

    color: blue;
    /* color: var(--primary-color); */

    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }

  .freshbox-form {
    position: relative;
  }

  .freshbox-input {
    width: 292px;
    height: 48px;
    padding-left: 16px;
    
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    color: blue;
    /* color: var(--primary-color); */
    
    border: 1px solid transparent;
    outline: 1px solid transparent;

    border-color: green;    

    /* opacity: 0.3; */
    /* border-color: 1px solid #FFFFFF; */

    border-radius: 100px;
  }
  .freshbox-input:hover,
  .freshbox-input:focus {
    border: 1px solid transparent;
    outline: 1px solid transparent;
    border-color: blue;
    
  }
  .freshbox-input:invalid {
    border-color: var(--primary-color);
    outline: 1px solid red;
  }

  .freshbox-btn-send {
    position: absolute;
    bottom: 0;
    left: 202px;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    width: 102px;
    height: 48px;
    border-radius: 100px;
    color: #ffffff;
    background: #9dc162;
    border-color: transparent;

    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: capitalize;
  }

  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height:100%;
    background: rgba(46, 47, 66, 0.4);

    transition: opacity var(--anim-transition),
    visibility var(--anim-transition);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal {
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 545px;
    padding: 68px 104px 80px 105px;
    border-radius: 20px;

    color: #fff;

    background-color: var(--background-modal);
    outline: 1px solid red;
  }
  .modal-btn-close {
    position: absolute;    
    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 28px;
    height: 28px; */

    stroke: var(--primary-color);
    background-color: var(--background-modal);
    border: 1px solid transparent;
  }

  .modal-picture {
    margin-bottom: 28px;
    width: 278px;
    height: 239px;

    outline: 1px solid white;
  }

  .modal-title {
    margin-bottom: 14px;
  }

  .modal-text {
    text-align: center;
  }

}

@media screen and (min-width: 1280px) {


  .freshbox {
    padding-top: 239px;    
    outline: 1px solid green;
  }

  .freshbox-title {
    width: 740px;
    height: 128px;
    top: -89px;
    left: 270px;

    font-size: 64px;
    line-height: 1;
  }

  .freshbox-images {
    gap: 24px;
  }
  .freshbox-picture.wide {
    width: 792px;
  }
}
