.freshbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.freshbox-cont {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.freshbox-title {
  max-width: 335px;
  margin-bottom: -43px;
  z-index: 1;

  font-weight: 500;
  font-size: 32px;
  line-height: 1;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;


  color: var(--primary-color);
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

.freshbox-picture {
  border-radius: 20px;
}

.freshbox-picture.none {
  display: none;
}

.freshbox-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
}

.freshbox-text {
  display: none;
}

.freshbox-form {
  position: relative;
}

.freshbox-input {
  width: 270px;
  padding: 15px 0 15px 24px;
  height: 48px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  background-color: var(--main-color);
  color: var(--primary-color);

  border: 1px solid transparent;
  outline: 1px solid transparent;

  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  transition: border-color var(--anim-transition);
}

.freshbox-input::placeholder {
  letter-spacing: -0.04em;
  color: var(--primary-color);
  opacity: 0.5;
}


.freshbox-input:hover,
.freshbox-input:focus {
  border-color: rgba(255, 255, 255, 0.5);
}


.freshbox-input:invalid:not(:placeholder-shown) {
  outline: 2px solid red;
  border: 1px solid transparent;
}

.freshbox-input:valid(:placeholder-shown) {
  background-color: var(--primary-color);
}

.freshbox-btn-send {
  position: absolute;
  bottom: 0;
  left: 165px;
  display: flex;
  align-items: center;
  padding: 15px 35px;
  height: 48px;

  border-radius: 100px;
  color: #ffffff;
  background: #9dc162;
  border-color: transparent;

  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  transition: background-color var(--anim-transition);
}

.freshbox-btn-send:hover {
  background-color: #7aad55;
}

  /* Modal */

.backdrop.none {
  display:block;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height:100%;
  background: rgba(46, 47, 66, 0.4);

  transition: opacity var(--anim-transition),
  visibility var(--anim-transition);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;
  height: 426px;
  padding: 40px 20px;
  border-radius: 20px;

  color: #fff;

  background-color: var(--background-modal);
}

.modal-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--primary-color);
  background-color: var(--background-modal);
  border: 1px solid transparent;
}

.modal-picture {
  margin-bottom: 20px;
}

.modal-title {
  margin-bottom: 14px;
}

.modal-text {
  text-align: center;
}


@media screen and (min-width: 768px) {

  .freshbox {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .freshbox-title {
    max-width: 648px;
    height: 108px;
    margin-bottom: -33px;
    font-size: 54px;
    line-height: 1;
  }

  .freshbox-images {
    display: flex;
    gap: 16px;
    margin-bottom: 80px;
  }

  .freshbox-picture.none {
    display: block;
  }

  .freshbox-bottom {
    margin-top: 0;
  }

  .freshbox-text {
    display: flex;
    align-items: center;
    text-align: center;

    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.04em;

    color: var(--primary-color);

    text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  }

  .freshbox-input {
    width: 292px;
  }

  .freshbox-btn-send {
    left: 187px;
  }

  /* Modal place change */

  .modal {
    max-width: 600px;
    height: 545px;
    padding: 68px 104px 80px 105px;
  }


  .modal-picture {
    margin-bottom: 28px;
  }

}

@media screen and (min-width: 1280px) {

  .freshbox-title {
    max-width: 740px;
    margin-bottom: -33px;

    font-size: 64px;
    line-height: 1;
  }

  .freshbox-images {
    gap: 24px;
  }

}
